body#user {
	#featured {
		border-top:1px solid $grey;
		border-bottom:1px solid $grey;
	}
	.wrapper {
		width:70%;
		margin: 40px auto;
		@include responsive($ipadH){width:90%;}
	}
	#profile {
		padding:2em 0;
		width:15%;
		margin:0;// 0 0 ($spacer * 3);
		display: inline-block;
		@extend .cf;
		@include responsive($ipadP) {width:100%;}
		a {
			text-decoration:none;
			span {
				position:relative;
				top:-2px;
			}
		}
		img {
			display: inline-block;
			float:left;
			width:100%;//120px;
			//margin-right:$spacer;
			//height:150px;
			background:$grey;
			border:10px solid $extra-light-grey;
			@include responsive($ipadP) {width:30%; margin-right:$spacer;}
		}
		div {
			display: inline-block;
			h3 {
				font-size:2em;
				margin-top: 10px;
			}
			p.location {}
		}
	}
	#issues {
		width:78%;
		//margin-right:8%;
		padding:2em 0;
		display: inline-block;
		float:right;
		@include responsive($ipadP) {width:100%;}
		ul {
			&:last-child {margin-top:20px;}
			li {
				list-style: none;
				background:$extra-light-grey;
				border:1px solid $grey;
				padding: 1em;
				margin-top:-1px;
				font-size: 1.3em;
				@extend .cf;
				&:nth-child(2n) {background:white;}
				span {
					&:not(.genericon) {
						float:right;
						margin-right:$spacer;
						@include responsive($ipadP){
							float: left;
							margin-top: 7px;
							width: 100%;
						}
					}
					font-size: 0.9em;
					&.genericon {
						//margin-left:$spacer;
						position: relative;
						top: 3px;
						left:9px;
						@include responsive($ipadP){
							float: right;
							top:-7px;
							left:4px;
						}
					}
				}
			}
		}
	}
}
